/*!
  *  pricingblock.scss
  *  PricingBlock
  *
  *  Created by ZintaThemes on 2018-09-20.
  *  Copyright 2018 ZintaThemes. All rights reserved.
  *  www.zintathemes.com
  */
/**
 * Main library
 */
.pricing-block-get-pro {
  margin: 10px 0;
  padding: 10px 0; }
  .pricing-block-get-pro a {
    margin: 0 5px; }

.pricingblock {
  text-align: center;
  border-radius: 2px;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 0rem;
  letter-spacing: 0; }
  .pricingblock__plan {
    position: relative;
    border-width: 0;
    border-radius: 0px;
    padding: 0;
    background-color: #FFF;
    margin: 10px -0.05rem;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    vertical-align: middle;
    font-size: 1.1rem;
    width: 100%; }
    .pricingblock__plan--first-in-line {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .pricingblock__plan--last-in-line {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    .pricingblock__plan:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .pricingblock__plan:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    .pricingblock__plan__header {
      min-height: 8rem;
      margin-bottom: 4rem;
      padding-bottom: 3rem;
      position: relative;
      display: inline-block;
      width: 100%; }
      .pricingblock__plan__header__heading {
        padding: 1rem 1rem;
        position: relative;
        margin: 0;
        font-size: 1.5rem;
        line-height: 3rem;
        color: inherit;
        z-index: 2; }
      .pricingblock__plan__header__icon i {
        /* padding: 2rem 1rem; */
        /* padding-bottom: 3.5rem; */
        margin: 0;
        margin-bottom: 1rem;
        font-size: 5rem;
        line-height: 7rem;
        color: inherit; }
      .pricingblock__plan__header__ribbon {
        position: absolute;
        text-align: center;
        left: auto;
        top: .15rem;
        right: .15rem;
        width: 10rem;
        height: 8rem;
        background: transparent;
        border-radius: 3px;
        z-index: 1;
        overflow: hidden; }
        .pricingblock__plan__header__ribbon span {
          position: absolute;
          display: block;
          padding: 10px 0;
          width: 12rem;
          left: auto;
          right: -4rem;
          top: .5rem;
          font-size: .9rem;
          font-weight: bold;
          transform: rotateZ(45deg);
          color: #ffffff; }
      .pricingblock__plan__header__price {
        position: absolute;
        z-index: 2;
        display: block;
        width: 8rem;
        height: 8rem;
        padding-top: 2rem;
        overflow: hidden;
        word-wrap: break-word;
        background-color: #FFF;
        color: #555;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        top: auto;
        bottom: -4rem;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 5px 10px 0 rgba(5, 5, 5, 0.1), 0 5px 30px 0 rgba(5, 5, 5, 0.1); }
        .pricingblock__plan__header__price sup {
          left: 5px;
          vertical-align: super;
          font-size: 1rem; }
    .pricingblock__plan__body {
      padding: 10px 0; }
      .pricingblock__plan__body p {
        padding: 15px;
        margin: 0; }
        .pricingblock__plan__body p.rich-text {
          padding: 0; }
        .pricingblock__plan__body p a {
          color: inherit;
          text-decoration: underline; }
      .pricingblock__plan__body > p:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.02); }
    .pricingblock__plan__footer__button {
      margin: 20px;
      margin-top: 0;
      color: #FFF;
      font-weight: bolder;
      text-decoration: none;
      padding: 7px 20px;
      margin-bottom: 20px;
      display: inline-block;
      border-radius: 3px;
      transition: box-shadow .3s ease-out; }
      .pricingblock__plan__footer__button:hover {
        color: #EEE;
        box-shadow: 0 5px 10px 0 rgba(5, 5, 5, 0.1), 0 10px 20px 0 rgba(5, 5, 5, 0.3); }
    .pricingblock__plan--featured {
      position: relative;
      border-radius: 5px;
      border-width: 1px;
      box-shadow: 0 5px 10px 0 rgba(5, 5, 5, 0.1), 0 5px 30px 0 rgba(5, 5, 5, 0.1); }
      .pricingblock__plan--featured .pricingblock__plan__header {
        padding-bottom: 4rem; }
        .pricingblock__plan--featured .pricingblock__plan__header__ribbon {
          top: 0;
          right: 0; }
      .pricingblock__plan--featured .pricingblock__plan__footer__button {
        margin-top: 1rem; }
      .pricingblock__plan--featured + .pricingblock__plan {
        border-left-width: 0; }
  .pricingblock--dark-plans .pricingblock__plan {
    color: #555;
    background: #070707;
    border: 1px solid rgba(255, 255, 255, 0.1); }
    .pricingblock--dark-plans .pricingblock__plan__price {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none; }
  .pricingblock--clean-style .pricingblock__plan__header {
    margin-bottom: 0; }
    .pricingblock--clean-style .pricingblock__plan__header__heading {
      background-color: transparent !important;
      color: inherit; }
    .pricingblock--clean-style .pricingblock__plan__header__price {
      box-shadow: none;
      background-color: transparent !important;
      bottom: 1rem;
      height: auto;
      overflow: visible;
      padding-top: 0; }
    .pricingblock--clean-style .pricingblock__plan__header__ribbon span {
      background-color: #f5c400; }
  .pricingblock--clean-style .pricingblock__plan--featured {
    border-style: solid; }
  .pricingblock--opacity-effect .pricingblock__plan {
    opacity: .85;
    transition: opacity 0.5s; }
    .pricingblock--opacity-effect .pricingblock__plan:hover {
      opacity: 1; }
  .pricingblock--gradient-effect .pricingblock__plan {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)); }
  .pricingblock--shadow-effect .pricingblock__plan:not(.pricingblock__plan--featured) {
    box-shadow: 0 25px 20px -20px rgba(5, 5, 5, 0.3); }
  .pricingblock--zoom-effect .pricingblock__plan {
    transition: transform .2s ease-out, box-shadow .2s, opacity .2s; }
    .pricingblock--zoom-effect .pricingblock__plan:not(.pricingblock__plan--featured):hover {
      z-index: 4;
      transform: scale(1.03);
      border-radius: 5px;
      box-shadow: 0 5px 10px 0 rgba(5, 5, 5, 0.1), 0 5px 30px 0 rgba(5, 5, 5, 0.1); }
  .pricingblock--plans-border .pricingblock__plan {
    border: 1px solid rgba(5, 5, 5, 0.4); }
  .pricingblock--1-palns .pricingblock__plan {
    width: 100%; }
  .pricingblock--2-palns .pricingblock__plan {
    width: 50%; }
  .pricingblock--3-palns .pricingblock__plan {
    width: 33.33333%; }
  .pricingblock--4-palns .pricingblock__plan {
    width: 25%; }
  .pricingblock--5-palns .pricingblock__plan {
    width: 20%; }
  .pricingblock--6-palns .pricingblock__plan {
    width: 16.66667%; }
  .pricingblock--7-palns .pricingblock__plan {
    width: 14.28571%; }
  .pricingblock--8-palns .pricingblock__plan {
    width: 12.5%; }
  .pricingblock--9-palns .pricingblock__plan {
    width: 11.11111%; }
  .pricingblock--10-palns .pricingblock__plan {
    width: 10%; }

.pricingblock__admin__plan__image {
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  position: relative; }
  .pricingblock__admin__plan__image button.components-button.remove-image {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%); }
  .pricingblock__admin__plan__image .components-placeholder__instructions {
    display: none; }

.pricingblock > .editor-inner-blocks.block-editor-inner-blocks > .editor-block-list__layout.block-editor-block-list__layout {
  align-items: center; }
  .pricingblock > .editor-inner-blocks.block-editor-inner-blocks > .editor-block-list__layout.block-editor-block-list__layout > .wp-block.editor-block-list__block.block-editor-block-list__block {
    display: inline-block;
    vertical-align: middle; }

.pricingblock .editor-inserter.block-editor-inserter {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  left: -13px;
  top: -13px;
  z-index: 10;
  transform: scale(0.7);
  transition: .2s transform; }
  .pricingblock .editor-inserter.block-editor-inserter:hover {
    transform: scale(1); }
  .pricingblock .editor-inserter.block-editor-inserter button.components-button {
    padding: 5px; }

.pricingblock .components-autocomplete {
  text-align: center; }

.pricingblock--1-palns [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block {
  width: 100%; }

.pricingblock--2-palns [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block {
  width: 50%; }

.pricingblock--3-palns [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block {
  width: 33.33333%; }

.pricingblock--4-palns [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block {
  width: 25%; }

.pricingblock--5-palns [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block {
  width: 20%; }

.pricingblock--6-palns [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block {
  width: 16.66667%; }

.pricingblock--7-palns [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block {
  width: 14.28571%; }

.pricingblock--8-palns [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block {
  width: 12.5%; }

.pricingblock--9-palns [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block {
  width: 11.11111%; }

.pricingblock--10-palns [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block {
  width: 10%; }

.pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block {
  padding: 0; }
  .pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block .block-editor-block-contextual-toolbar .block-editor-block-toolbar {
    left: 13px;
    top: 13px; }
  .pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block .block-editor-block-list__block-edit:before {
    right: -2px;
    left: -2px;
    top: -2px;
    bottom: -2px; }
  .pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block .editor-block-list__block-edit.block-editor-block-list__block-edit {
    margin-right: 0;
    margin-left: 0;
    margin: 0; }
    .pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block .editor-block-list__block-edit.block-editor-block-list__block-edit:after {
      display: table;
      clear: both;
      content: ''; }
    .pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block .editor-block-list__block-edit.block-editor-block-list__block-edit .pricingblock__plan {
      display: block;
      width: 100%; }
      .pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block .editor-block-list__block-edit.block-editor-block-list__block-edit .pricingblock__plan .pricingblock__plan__body .block-editor-block-list__layout .block-editor-block-list__block {
        padding-left: 10px;
        padding-right: 10px; }
      .pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block .editor-block-list__block-edit.block-editor-block-list__block-edit .pricingblock__plan .block-editor-block-list__block .block-editor-block-list__layout {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0; }

.pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block .editor-rich-text.block-editor-rich-text span.block-editor-rich-text__editable {
  padding-left: 10px;
  padding-right: 10px; }

.pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block .pricingblock__plan, .pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block .pricingblock__plan h3 {
  border-radius: 0; }

.pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block:first-child .pricingblock__plan {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }
  .pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block:first-child .pricingblock__plan h3 {
    border-top-left-radius: 5px; }

.pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block:last-child .pricingblock__plan {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }
  .pricingblock [data-type="pricingblock/pricingblockplan"].wp-block.editor-block-list__block.block-editor-block-list__block:last-child .pricingblock__plan h3 {
    border-top-right-radius: 5px; }

.shadow-1-half,
.hayyabuild-btn:hover,
.hayyabuild-btn-large:hover,
.hayyabuild-btn-floating:hover {
  box-shadow: 0 5px 15px 0 rgba(5, 5, 5, 0.1); }

.box-shadow-small {
  box-shadow: 0 0 10px 0 rgba(5, 5, 5, 0.1); }

.box-shadow-half {
  box-shadow: 0 0 15px 0 rgba(5, 5, 5, 0.1); }

.box-shadow-1 {
  box-shadow: 0 5px 15px 0 rgba(5, 5, 5, 0.1); }

.box-shadow-2 {
  box-shadow: 0 8px 17px 0 rgba(5, 5, 5, 0.1), 0 6px 20px 0 rgba(5, 5, 5, 0.1); }

.box-shadow-3 {
  box-shadow: 0 12px 15px 0 rgba(5, 5, 5, 0.1), 0 17px 50px 0 rgba(5, 5, 5, 0.1); }

.box-shadow-4,
.modal {
  box-shadow: 0 16px 28px 0 rgba(5, 5, 5, 0.1), 0 25px 55px 0 rgba(5, 5, 5, 0.1); }

.box-shadow-5 {
  box-shadow: 0 27px 24px 0 rgba(5, 5, 5, 0.1), 0 40px 77px 0 rgba(5, 5, 5, 0.1); }

.box-shadow-6 {
  box-shadow: 0 0 24px 0 rgba(5, 5, 5, 0.1), 0 0 77px 0 rgba(5, 5, 5, 0.1); }

.box-shadow-7 {
  box-shadow: 0 0 40px 0 rgba(5, 5, 5, 0.1), 0 0 100px 0 rgba(5, 5, 5, 0.1); }

.hayyabuild-box-hoverable {
  transition: box-shadow .5s;
  box-shadow: none; }
  .hayyabuild-box-hoverable.box-shadow-1-half:hover {
    box-shadow: 0 5px 15px 0 rgba(5, 5, 5, 0.1); }
  .hayyabuild-box-hoverable.box-shadow-1:hover {
    box-shadow: 0 5px 15px 0 rgba(5, 5, 5, 0.1); }
  .hayyabuild-box-hoverable.box-shadow-2:hover {
    box-shadow: 0 8px 17px 0 rgba(5, 5, 5, 0.1), 0 6px 20px 0 rgba(5, 5, 5, 0.1); }
  .hayyabuild-box-hoverable.box-shadow-3:hover {
    box-shadow: 0 12px 15px 0 rgba(5, 5, 5, 0.1), 0 17px 50px 0 rgba(5, 5, 5, 0.1); }
  .hayyabuild-box-hoverable.box-shadow-4:hover {
    box-shadow: 0 16px 28px 0 rgba(5, 5, 5, 0.1), 0 25px 55px 0 rgba(5, 5, 5, 0.1); }
  .hayyabuild-box-hoverable.box-shadow-5:hover {
    box-shadow: 0 27px 24px 0 rgba(5, 5, 5, 0.1), 0 40px 77px 0 rgba(5, 5, 5, 0.1); }
  .hayyabuild-box-hoverable.box-shadow-6:hover {
    box-shadow: 0 0 24px 0 rgba(5, 5, 5, 0.1), 0 0 77px 0 rgba(5, 5, 5, 0.1); }
  .hayyabuild-box-hoverable.box-shadow-7:hover {
    box-shadow: 0 0 40px 0 rgba(5, 5, 5, 0.1), 0 0 100px 0 rgba(5, 5, 5, 0.1); }

.text-shadow-small {
  text-shadow: 0 0 10px rgba(5, 5, 5, 0.1); }

.text-shadow-half {
  text-shadow: 0 0 15px rgba(5, 5, 5, 0.1); }

.text-shadow-1 {
  text-shadow: 0 5px 15px rgba(5, 5, 5, 0.1); }

.text-shadow-2 {
  text-shadow: 0 8px 17px rgba(5, 5, 5, 0.1), 0 6px 20px rgba(5, 5, 5, 0.1); }

.text-shadow-3 {
  text-shadow: 0 12px 15px rgba(5, 5, 5, 0.1), 0 17px 50px rgba(5, 5, 5, 0.1); }

.text-shadow-4 {
  text-shadow: 0 16px 28px rgba(5, 5, 5, 0.1), 0 25px 55px rgba(5, 5, 5, 0.1); }

.text-shadow-5 {
  text-shadow: 0 27px 24px rgba(5, 5, 5, 0.1), 0 40px 77px rgba(5, 5, 5, 0.1); }

.text-shadow-6 {
  text-shadow: 0 0 24px rgba(5, 5, 5, 0.1), 0 0 77px rgba(5, 5, 5, 0.1); }

.text-shadow-7 {
  text-shadow: 0 0 40px rgba(5, 5, 5, 0.1), 0 0 100px rgba(5, 5, 5, 0.1); }

.hayyabuild-text-hoverable {
  transition: box-shadow .5s;
  text-shadow: none; }
  .hayyabuild-text-hoverable.text-shadow-1-half:hover {
    text-shadow: 0 5px 15px rgba(5, 5, 5, 0.1); }
  .hayyabuild-text-hoverable.text-shadow-1:hover {
    text-shadow: 0 5px 15px rgba(5, 5, 5, 0.1); }
  .hayyabuild-text-hoverable.shadow-2:hover {
    text-shadow: 0 8px 17px rgba(5, 5, 5, 0.1), 0 6px 20px rgba(5, 5, 5, 0.1); }
  .hayyabuild-text-hoverable.text-shadow-3:hover {
    text-shadow: 0 12px 15px rgba(5, 5, 5, 0.1), 0 17px 50px rgba(5, 5, 5, 0.1); }
  .hayyabuild-text-hoverable.text-shadow-4:hover {
    text-shadow: 0 16px 28px rgba(5, 5, 5, 0.1), 0 25px 55px rgba(5, 5, 5, 0.1); }
  .hayyabuild-text-hoverable.text-shadow-5:hover {
    text-shadow: 0 27px 24px rgba(5, 5, 5, 0.1), 0 40px 77px rgba(5, 5, 5, 0.1); }
  .hayyabuild-text-hoverable.text-shadow-6:hover {
    text-shadow: 0 0 24px rgba(5, 5, 5, 0.1), 0 0 77px rgba(5, 5, 5, 0.1); }
  .hayyabuild-text-hoverable.text-shadow-7:hover {
    text-shadow: 0 0 40px rgba(5, 5, 5, 0.1), 0 0 100px rgba(5, 5, 5, 0.1); }

.pricingblock-z-depth {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  background-color: transparent; }
  .pricingblock-z-depth.center-shadow:before, .pricingblock-z-depth.duble-shadow:before, .pricingblock-z-depth.left-shadow:before, .pricingblock-z-depth.right-shadow:before {
    content: '';
    position: absolute;
    left: 0;
    height: 30px;
    bottom: -30px; }
  .pricingblock-z-depth.center-shadow:before {
    width: 100%;
    background: radial-gradient(ellipse 130% 40px at 50% -5px, rgba(0, 0, 0, 0.2), rgba(97, 97, 97, 0) 40%); }
  .pricingblock-z-depth.duble-shadow:before, .pricingblock-z-depth.left-shadow:before, .pricingblock-z-depth.right-shadow:before {
    width: calc(100% - 20px);
    left: 10px;
    -webkit-clip-path: polygon(-10% 0px, 110% 0px, 110% 110%, -10% 110%);
            clip-path: polygon(-10% 0px, 110% 0px, 110% 110%, -10% 110%); }
  .pricingblock-z-depth.duble-shadow:before {
    background: radial-gradient(ellipse 200% 120px at 5px -30px, black, rgba(97, 97, 97, 0) 40%), radial-gradient(ellipse 200% 120px at calc(100% - 5px) -30px, black, rgba(97, 97, 97, 0) 40%); }
  .pricingblock-z-depth.left-shadow:before {
    background: radial-gradient(ellipse 200% 120px at 5px -30px, black, rgba(97, 97, 97, 0) 40%); }
  .pricingblock-z-depth.right-shadow:before {
    background: radial-gradient(ellipse 200% 120px at calc(100% - 5px) -30px, black, rgba(97, 97, 97, 0) 40%); }
  .pricingblock-z-depthhr.duble-shadow:before, .pricingblock-z-depthhr.left-shadow:before, .pricingblock-z-depthhr.right-shadow:before {
    width: calc(100% - 10px);
    left: 5px; }

/**
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  display: inline-block;
  overflow: hidden; }

.waves-notransition {
  transition: none !important; }

.waves-button,
.waves-circle {
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1; }

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em; }

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em; }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }
  .waves-input-wrapper.waves-button {
    padding: 0; }
  .waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%; }

.waves-float {
  -webkit-mask-image: none;
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  transition: all 300ms; }
  .waves-float:active {
    box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3); }

.waves-block {
  display: block; }

#pricingblock-help .help {
  text-align: center;
  display: block;
  max-width: 100%; }

.stars-yellow i {
  color: #d4ff00; }
